*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background: #000;
}
.navbar{
    display: flex;
    height: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
    position: relative;
}
.circle{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #535353;
}

.home{
    font-size: 28px;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}
.circle:hover{
    background-color: rgba(105, 105, 113, 0.866);
}
.bar{
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px;
    border-radius: 500px;
    height: 41px;
    width: 500px;
    background-color:rgb(31,31,31);
    cursor: text;
}

.search-input{
    background-color:rgb(31,31,31);
    font-size: 20px;
    border: none;
}
.search-icon{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 25px;
    margin-right: 10px;
}
.installapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.installicon{
    font-size: 23px;
}
.installfont{
    color: grey;
    padding-left: 10px;
    font-size: 16px;
    text-align: center;
}
.bell-icon{
    margin-left: 40px;
    font-size: 20px;
    text-align: center;
    transition: 0.2s ease;
}
.bell-icon:hover,.group:hover,.installapp:hover,.logo:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.group{
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
}
.acc-circle{
    margin-left: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: skyblue;
}
.acc-name{
    text-align: center;
    padding-top: 6px;
}
.main{
    display: flex;
}
.sidebar{
    margin-top: 10px;
    margin-left: 14px;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color:#212121;
    border-radius:10px;
}
.head-side{
    display: flex;
    flex-wrap: wrap;
}
.lib{
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 30px;
    padding-left: 20px;
}
.create{
    display: flex;
    margin-top: 20px;
    font-size: 17px;
    text-align: right;
    font-family: Arial, sans-serif;
    background-color:#7e7a7a32;
    border-radius: 5000px;
    margin-left: 140px;
    padding: 10px;
    cursor:pointer;
}
.create:hover{
    background-color:#535353;
}
.side-tab{
    border-radius: 5px;
    margin-left: 17px;
    margin-right: 10px;
    margin-top: 40px;
    background-color: #45434332;
    padding-bottom: 10px;
}
.side-head1{
    font-size: 0.84rem;
    color: #ffff;
    padding: 14px;
}
.side-head2{
    color: #ffff;
    padding-left:14px;
    font-weight:lighter;
    font-size: 0.85rem;
    font-weight: bold;
}
.side-button{
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 500px;
    background-color: #ffff;
    margin-right: 199px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.side-button p{
    color: #000;
    font-size: 0.95rem;
    font-weight: 700;
    padding: 10px;
}

.side-button2{
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 500px;
    background-color: #ffff;
    margin-right: 180px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.side-button2 p{
    color: #000;
    font-size: 0.95rem;
    font-weight: 700;
    padding: 10px;
}
.side-button:hover,.side-button2:hover{
    background-color: whitesmoke;
    transform: scale(1.04);
}
.circle:hover:hover{
    background-color: #2a2a2a;
    border: 1px solid #1DB954;
    cursor: pointer;
}
.acc-circle:hover{
    background-color: rgb(66, 131, 156);
    border: 2px solid #1DB954;
    cursor: pointer;
}

.song{
    margin-left: 10px;
    background-color: #212121;
    width: auto;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: auto;
}
.top-button{
    display: flex;
    margin-left: 30px;
    margin-top: 15px;
    gap: 10px;
}

.top-button p{
    border-radius: 500px;
    background-color: #7e7a7a32;
    font-weight: 700;
    color: #ffff;
    padding: 14px;
    transition: 0.2s ease;
}
.top-button p:hover{
    transform: scale(1.04);
    cursor: pointer;
}
#adjust{
    border-radius: 500px;
    background-color: #ffff;
    font-weight: 700;
    color: #000;
    transition: 0.2s ease;
    padding-right: 17px;
    padding-left: 17px;
}
.row-1{
    margin-top: 30px;
    margin-left:30px;   
}
.row-1 h2,.row-2 h2{
    color: #ffff;
    padding-bottom: 20px;
}
.music{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.box{
    height: 250px;
    width: 200px;
    transition: 0.2s ease;
}
.box p{
    padding-top: 10px;
    color: #ffff;
}
.box:hover{
    transform: scale(1.03);
}
.row-2{
    margin-top: 50px;
    margin-left:30px;   
}
.row-3{
    margin-top: 50px;
}

hr{
    margin-top: 80px;
    margin-bottom: 40px;
}
.foot-1{
    display: flex;
    justify-content: space-evenly;
}
.fdesign h3{
    color: #ffff;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 1.2rem;
}
.fdesign p{
    color: whitesmoke;
    padding: 10px;
}
.icon{
    font-size: 1.5rem;
}
.fa-brands{
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.fa-brands:hover{
    transform: scale(1.05);
}
.foot-2{
    display: flex;
}
.foot-2 p{
    color: #ffff;
    margin: 20px;
}
#copyright{
    margin-left: 400px;
}